body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3 {
  margin: 5px 0px;
}

small {
  color: darkgrey;
  font-size: 100%;
}
.leaflet-tooltip-field {
  border: none !important;
  box-shadow: none!important;
  background-color: transparent !important;
  z-index: 9999 !important;
}

.leaflet-tooltip-field:before {
  border: none !important;
}

.leaflet-control-actions {
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}